<!DOCTYPE html>
<html>
	{{>head}}

	<body>
		<div class="main-content">
			{{>header}}
			<p>This site was created by Talip. It uses from mapbox.com and weatherstack.com.</p>
			<img class="portrait" src="/img/robot.png" />
		</div>
		{{>footer}}
	</body>
</html>
